.view {
  height: 90vh;
  width: 100%;

  background-image: url('@src/assets/art-exhibit.jpeg');
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1440px) {
  .view {
    background-size: 100vw;
  }
}