/* .view {} */

.easel {
  height: 38vw;
  width: 100%;
  min-height: 400px;
  min-width: 400px;
  max-height: 560px;

  background-image: url('@src/assets/easel2.png');
  background-repeat: no-repeat;
  background-size: 100% 110%;

  padding: 100px 13.75% 250px 10%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.easel > img {
  height: 33vw;
  max-height: 500px;
}