.feed {
  min-height: 80vh;
  width: 90vw;
  background-color: lightgrey;
}

@media (width < 600px) {
  .feed {
    width: 100vw;
  }
}

@media (min-width: 1240px) {
  .feed {
    width: 95vw;
  }
}

@media (min-width: 1800px) {
  .feed {
    width: 92.5vw;
  }
}

.feed--page-gap {
  height: 10vh;
  width: 90vw;
}

.feed--tile-grid {
  min-width: 360px;
  display: grid;
  grid-gap: 10px;
  padding: 0 40px;
}

@media (min-width: 360px) {
  .feed--tile-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 1080px) {
  .feed--tile-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1440px) {
  .feed--tile-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 2160px) {
  .feed--tile-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}