main {
  min-height: 80vh;
  width: 100vw;
  position: absolute;
  top: 10vh;
  left: 0;

  background: linear-gradient(lightgrey, #ff0000);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

main > h1 {
  position: fixed;
}