.public-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .public-dashboard > h1 {
  position: fixed;
  z-index: 2;
  width: 80%;
  background-color: darkgrey;
} */